{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow">
                <div class="card-body p-4 text-center">
                    <h1 class="display-6 mb-4">Thank you for submitting your ticket!</h1>
                    <p>A team member will reach back out to you shortly.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


